# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build output
build/
dist/

# Environment variables
.env

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db
tmp
prompts